<div class="row no-left-margin">
  <h3>Create a new Raider:</h3>
  <button type="button" class="btn btn-secondary text-right">
    <%= link_to 'Add a Raider', new_raider_path, class: 'color' %>
  </button>
</div>
