<div class="box col-lg-10 offset-1">
  <%= month_calendar events: @raids do |date, raids| %>
    <%= date.day %>

    <% raids.each do |raid| %>
      <div>
        <%= link_to raid.name, raid_path(raid) %>
      </div>
      <% end %>
  <% end %>
  <% if current_user.try(:admin?) %>
    <%= render partial: 'create_raid' %>
  <% end %>
</div>
