<div class="box col-10 offset-1">
  <div class="row">  
    <div class="col-4 text-center">  
      <h1 class="underline">Items Won</h1>
    </div>
    <div class="col-8 text-right">
      <%= link_to 'Return to Raider', raider_path(@raider), class: 'btn btn-secondary' %>
    </div>
  </div>
  <br>
  <ol>
    <% @winnings.order(created_at: :desc).each do |winner| %>
      <div class="row no-left-margin">
        <li class="non-navbar-list-items">  
          <%= link_to winner.item.name, item_path(winner.item) %> - <%= winner.points_spent %>
          <% if current_user.try(:admin?) %>
            <%= link_to 'X', item_winner_path(item_id: winner.item_id, id: winner.id), method: :delete, data: {confirm: 'Are you sure you want delete this?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
          <% end %>
        </li>
      </div>
    <% end %>
  </ol>
</div>
