@import "bootstrap";

h3, h4, h5 {
  color: white;
}

a {
  color: #d73af0;
}

a:hover {
  color: white;
  text-decoration: none;
}

.box {
  -moz-box-shadow: 1px 1px 2px 2px black;
  -webkit-box-shadow: 1px 1px 2px 2px black;
  box-shadow: 1px 1px 2px 2px black;
  background: black;
  color: #d73af0;
  border: 1px solid #d73af0;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  padding-bottom: 10px;
}

.navbar {
  background: black !important;
}

.navbar-brand {
  color: #d73af0 !important;
}

.navbar-brand:hover {
  color: white !important;
}

.nav-link {
  color: #d73af0 !important;
}

.nav-link:hover {
  color: white !important;
}

.comment {
  color: white;
}

.user-name {
  color: #d73af0;
  padding-right: 20%;
}

.color {
  color: #d73af0;
}

.color:hover {
  color: white;
}

.btn-primary {
  color: black;
  background: #d73af0;
  border-color: #d73af0;
}

.btn-primary a {
  color: black;
}

.btn-primary:hover {
  color: black;
  background: white;
  border-color: #d73af0;
}

.btn-secondary {
  color: #d73af0;
  background: white;
  border-color: #d73af0;
}

.btn-secondary:hover {
  color: #d73af0;
  background: black;
  border-color: #d73af0;
}

.grey {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}

.winners {
  text-decoration: underline;
}

abbr {
  display: none;
}

.category {
  color: #d73af0;
  font-size: 50px;
  font-weight: 700;
}