@import "bootstrap";

body {
  margin: 0px !important;
  background: image_url('mosaic.png');
}

h3, h4, h5 {
  color: white;
}

a {
  color: #d73af0 !important;
}

a:visited {
  color: #d73af0 !important;
}

a:hover {
  color: white !important;
  text-decoration: none;
}

.box {
  -moz-box-shadow: 1px 1px 2px 2px black;
  -webkit-box-shadow: 1px 1px 2px 2px black;
  box-shadow: 1px 1px 2px 2px black;
  background: black;
  color: #d73af0;
  border: 1px solid #d73af0;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  padding-bottom: 10px;
}

.navbar {
  background: black !important;
}

.navbar-brand {
  color: #d73af0 !important;
}

.navbar-brand:hover {
  color: white !important;
}

.nav-link {
  color: #d73af0 !important;
}

.nav-link:hover {
  color: white !important;
}

.input-group-btn {
  margin-left: 5px;
}

.comment {
  color: white;
}

.user-name {
  color: #d73af0;
  padding-right: 20%;
}

.color {
  color: #d73af0;
}

.color:hover {
  color: white;
}

.btn-primary {
  color: black;
  background: #d73af0;
  border-color: #d73af0;
}

.btn-primary a {
  color: black;
}

.btn-primary:hover {
  color: black;
  background: white;
  border-color: #d73af0;
}

.btn-secondary {
  color: #d73af0;
  background: white;
  border-color: #d73af0;
}


.btn-margin {
  margin-top: auto;
}

.create-connection {
  color: #d73af0;
  background: white;
  border-color: #d73af0;
}

.btn-secondary:hover {
  color: #d73af0;
  background: black;
  border-color: #d73af0;
}

.grey {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}

.underline {
  text-decoration: underline;
}

abbr {
  display: none;
}

.category {
  color: #d73af0;
  font-size: 50px;
  font-weight: 700;
}

.zones {
  color: #d73af0;
}

.item-raiders {
  display: inline-block;
}

.warrior {
  color: #a35515;
}

.rogue {
  color: yellow;
}

.hunter {
  color: green;
}

.mage {
  color: #2cdef2;
}

.warlock {
  color: purple;
}

.priest {
  color: white;
}

.shaman {
  color: blue;
}

.druid {
  color: orange;
}

.raiders-attendance {
  margin-left: 0px;
}

.btn-points {
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.scoot-left {
  margin-left: -15px;
}

.scoot-right {
  margin-left: 10px
}

.no-left-margin {
  margin-left: 0px;
}

.margin-top {
  margin-top: 1px;
}

.attendance-row {
  border-top: 1px solid #d73af0;
}

.scale-down {
  transform: scale(.6);
}

.no-padding {
  padding: 0px;
}

.reserved {
  color: red;
}

.limited {
  color: blue;
}

.unlimited {
  color: white;
}

.scoot-up {
  margin-top: -3px;
  margin-bottom: 5px;
}

.modal-footer {
  border: none;
}

.low-attendance-warning {
  display: inline-block;
  background: red;
}

.message-horizontal-rule {
  margin: 2em 0;
}

.message-author-margin-right {
  margin-right: 10%;
}

#news-feed {
  color: white;
  font-family: 'IM Fell French Canon SC', serif;
  font-weight: 500;
  font-size: 60px;
}

#index-author {
  margin-left: 15px;
}