// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-box {
    border: solid 1px white;
    border-radius: 5px;
    margin: 5px;
    padding-top: 8px
}