<div class="col-10 offset-1">
  <h1><%= @category.name %></h1>
</div>

<% @category.items.each do |item| %>
  <div class="col-10 offset-1 box">
    <h2><%= link_to item.name, item_path(item), class: 'color'  %></h2>
    <h4><%= item.priority %></h4>
  </div>
<% end %>